.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.character {
  background-color: #fafafa;
  border-spacing: 0;
}

.character--head {
  background: #fff;
}

.character--head-cell {
  padding: 10px 5px;
  border-bottom: 1px solid gray;
}

.character--cell {
  padding: 10px;
}

.character--block {
  background-color: #edf2fb;
  padding: 0 10px;
}

.character--block:hover {
  background-color: #d7e3fc;
  cursor: pointer;
}
